<h1>Home</h1>
<% if (user){ %>
<li><a href="/auth/logout">Logout</a></li>
<% } else { %>
<li><a href="/auth/login">Login</a></li>
<% } %>
<li><a href="/auth/google">Google</a></li>
<li><a href="/">Home</a></li>