
<h1>New Bookings</h1>
<form action="/bookings" method="post">
    <%- include("form")%>
    <a href="/bookings">Cancel</a>
    <button type="submit">Submit</button>
</form>


<%- include("../part/error.ejs")%>


